@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

html {
  scroll-behavior: smooth;
}

.home__img {
  width: 560px;
}

.home__blob {
  fill: #243856;
}

.home__blob-img {
  width: 320px;
}

@media screen and (max-width: 450px) {
  .home__img {
    width: 230px;
  }
}

@media screen and (max-width: 640px) {
  .home__img {
    width: 330px;
  }
}

@media screen and (max-width: 1024px) {
  .home__img {
    width: 430px;
  }
}

@media screen and (max-width: 1284px) {
  .home__img {
    width: 400px;
  }
}

#about,
#skills,
#contact,
#footer,
#works,
#hero1,
#testimonios,
#testimonios1 {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#work{
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #292e49,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#card {
  background: #243856;  /* fallback for old browsers */

}
