$body-font:'Montserrat', sans-serif;
$body-background-color: /*#f4f4f4*/#F8F8F8 ;
$contrast-body-color: white;
$header-height: 44px;
$tablet: 640px;
$desktop: 1024px;
$desktopXL: 1280px;
$desktop2XL: 1530px;


$strong-color: orangered;//#fc2a74
$width-cont: 800px;
/*max width of the document*/
$max-width: 1110px;
$max-width-full: 100%;
/*width of the containers on mobile*/
$width-95: 95%;
$width-100: 100%;


/* BASE */

:root {
    --primary-color: #5D3AEA;
    --secondary-color: #6b7280;
    --button-color: #725cf7;
    --card-text-color: #9ca3af;
  
    --font-main: "Inter", sans-serif;
    --border-radius: 0.375rem;
    --padding: 0.5rem 1rem;
  }
  
  